@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 16px;
  @media (max-width: 800px) {
    font-size: 14px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.link-light {
  color: #fff;
}

.header {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.white-text {
  color: #fff;
}

.black-text {
  color: #000;
}

ul {
  list-style: none;
  display: flex;
  gap: 0.9rem;
}
